html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}
/*this is the main box for the article*/

/*this the nav bar iiiiiiiii*/
.nav{
  height: 50px;
  width: 100%;
  background-color: #333333;
  position: sticky;
}
.bottom{
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  margin-left: 35px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}
/*this is the left colum*/
.lefty{
  height: auto;
  width: 40%;
  display: inline-block;
  float: left;
  position:  relative;
  margin: 2% 2%;
}
/*this is the right colum*/
.righty{
  height: auto;
  width: 50%;
  display: inline-block;
  float: right;
  position: relative;
  margin: 2% 2%;
}
.block{
  background-color: #d6d6d6;
  min-height: 363px;
  max-width: 600px;
  min-width: 280px;
  margin: auto;
  position: sticky;
}
h1{
  font-family: sans-serif;
  padding: 0 4%;
  position: sticky;
  font-size: 300%;
}
/*this is all the text*/
.text{
  padding: 4%;
  font-family: sans-serif;
  text-align: justify;
}
/*this is the footer vvvvvvvvvvvvv*/
.foot{
  height: 50px;
  width: 100%;
  float: right;

  background-color: #333333;
}
